# WeChat DevTools
project.private.config.json
miniprogram_npm/

# Dependencies
node_modules/
cloudfunctions/*/node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
